@import"https://fonts.cdnfonts.com/css/clash-display";
@import"https://fonts.cdnfonts.com/css/satoshi";
@import"https://fonts.cdnfonts.com/css/gilroy-bold";

* {
    font-family: Clash Display,sans-serif;
}

.pageLines {
    position: absolute;
    inset: 0;
    mask-image: linear-gradient(0deg,transparent,#222,#222);
    background-image: url(./assets/asset\ 3.svg);
    background-position: bottom 1px center;
    background-color: hsla(0,0%,100%,.25);
}

.homeHeading h1 span::after {
    position: absolute;
    content: "";
    background: rgba(34,34,34,.1);
    border-top: 2px solid rgba(34,34,34,.5);
    left: 0;
    right: 0;
    bottom: 3px;
    height: 15px;
    z-index: -1;
}

.homeAnchor a {
    transition: transform .25s ease-in-out
}

.homeAnchor a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #222;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .25s ease-in-out;
}

.homeAnchor a:hover {
    transform: translateX(.25rem)
}

.homeAnchor a:hover:after {
    transform-origin: left;
    transform: scaleX(1)
}


.nav-link[aria-current="page"] {
    background-color: #fff;
    border-radius: 50px;
}

.nav-link[aria-current="page"] li {
    color: #222;
}

/* projects section timelline */

.odd::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background-color: #eee;
    border: 1px solid #222;
}

.even::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    margin-bottom: 260px;
    z-index: 2;
    background-color: #eee;
    border: 1px solid #222;
}

.timeline ul li:nth-of-type(odd) > div {
    margin-left: 35px;
    margin-top: -10px;
}
.timeline ul li:nth-of-type(even) > div {
    margin-left: -509px;
    margin-top: -270px;
}
.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* animations fadeIn */

@keyframes fadeInUp {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1s fadeInUp;
  }
  

@keyframes fadeInRight {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInRight-animation {
    animation: 1s fadeInRight;
  }
